@import "../base/mixins";
@import "../base/mediaqueries";

/*------FOOTER DE TODAS LAS PAGINAS-----*/
footer {
    background-color: black;
    color: white;
    @include flex (flex, space-around, center);
    height: 130px;
    .div-footer{
        p{
            font-size: 20px;
            margin-bottom: 15px;
        }
        a{
            text-decoration: none;
            color: white;
            background-color: #01AC7E;
            padding: 5px;
            border-radius: 5px;
            transition: 1s;
            &:hover{
                background-color: nth($colores , 6 );
            }
        }
    }
    .div-redes{
        h3{
            text-align: center;
            font-weight: 100;
            font-size: 20px;
        }
        a{
            img{
                width: 50px;
                height: 50px;
                margin: 10px;
            }
        }
    }
}
#facebook {
    width: 55px;
    height: 55px;
}
