@import "../base/mediaqueries";
@import "../base/variables";

/*-----HEADER DE TODAS LAS PAGINAS-----*/
header {
    nav {
        background-color: nth($colores , 2 );
        .container-fluid {
            div {
                img {
                    width: 80px;
                    height: 80px;
                    margin-right: 10px;
                }
                a{
                    color: nth($colores , 3 );
                }
                .enlaces-nav {
                    color: nth($colores , 3 );
                    transition: 1s;
                    &:hover{
                        background-color: nth($colores , 4 );
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
.nav-link{
    margin-left: 50px;
    font-size: 18px;
}