/*-----PAGINA INDEX--------*/

@media screen and (max-width:825px) {
    .novedades .contenedor-novedades {
        flex-direction: column;
    }
}

@media screen and (max-width:760px) {
    main .hero {
        height: 60vh;
    }

    main .hero div h1 {
        font-size: 30px;
    }

    main .hero div p {
        font-size: 15px;
    }

    main .novedades .contenedor-novedades div img {
        height: 50%;
        width: 50%;
    }

    main .novedades .contenedor-novedades div p {
        font-size: 15px;
    }

    footer .div-footer .p-footer {
        font-size: 15px;
    }

    footer .div-footer a {
        font-size: 12px;
    }

    footer .div-redes .h3-footer {
        font-size: 15px;
    }

    footer .div-redes a .twitter {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    footer .div-redes a .instagram {
        height: 40px;
        width: 40px;
        margin: 5px;
    }

    footer .div-redes a #facebook {
        height: 45px;
        width: 45px;
    }
}

@media screen and (max-width:500px) {
    main .hero {
        background-size: cover;
    }

    main .ofertas h2 {
        font-size: 20px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos {
        width: 280px;
        height: 330px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos img {
        width: 100%;
        height: 230px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos h3 {
        font-size: 13px;
        margin: 0%;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos a {
        font-size: 13px;
    }

    main .novedades h2 {
        font-size: 20px;
    }

    main .novedades .contenedor-novedades div img {
        height: 250px;
        width: 250px;
    }

    main .novedades .contenedor-novedades div p {
        font-size: 13px;
    }

    main .novedades .contenedor-novedades div h3 {
        font-size: 15px;
    }

    footer .div-footer .p-footer {
        font-size: 13px;
    }

    footer .div-footer a {
        font-size: 10px;
    }

    footer .div-redes .h3-footer {
        font-size: 13px;
    }

    footer .div-redes a .twitter {
        height: 35px;
        width: 35px;
    }
    footer .div-redes a .instagram {
        height: 35px;
        width: 35px;
    }
    footer .div-redes a #facebook {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width:400px) {
    main .hero div h1 {
        font-size: 25px;
    }

    main .hero div p {
        font-size: 13px;
    }

    main .ofertas h2 {
        font-size: 18px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos {
        width: 250px;
        height: 300px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos img {
        width: 100%;
        height: 200px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos h3 {
        font-size: 13px;
    }

    main .ofertas .contenedor-card .contenedor-card-elementos a {
        font-size: 11px;
    }

    main .novedades h2 {
        font-size: 18px;
    }

    main .novedades .contenedor-novedades div p {
        font-size: 13px;
    }

    main .novedades .contenedor-novedades div h3 {
        font-size: 15px;
    }

    footer .div-redes a .twitter {
        display: flex;
        flex-direction: column;
        height: 28px;
        width: 28px;
    }
    footer .div-redes a .instagram {
        display: flex;
        flex-direction: column;
        height: 28px;
        width: 28px;
    }

    footer .div-redes a #facebook {
        height: 33px;
        width: 33px;
        margin: 2px;
    }
}




/*-------PAGINA PRODUCTOS--------*/

@media screen and (max-width:835px) {
    main .seccion-productos .contenedor-card-productos{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
        }
    }

@media screen and (max-width:460px) {
    main .seccion-productos .contenedor-card-productos .contenedor-card-productos-elementos{
        width: 300px;
        height: 380px;
    } 

        main .seccion-productos .contenedor-card-productos .contenedor-card-productos-elementos img {
            height: 230px;
        }

        main .seccion-productos .contenedor-card-productos .contenedor-card-productos-elementos h2 {
            font-size: 15px;
        }

        main .seccion-productos .contenedor-card-productos .contenedor-card-productos-elementos a {
            font-size: 12px;
        }
    
}


/*--------PAGINA NOVEDADES---------*/

@media screen and (max-width:920px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        margin: 30px;
    }
}

@media screen and (max-width:870px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 700px;
        width: 740px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div img{
        height: 390px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div h2{
        font-size: 25px;
    }
}

@media screen and (max-width:800px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 600px;
        width: 640px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div p{
        font-size: 14px;
    }
}

@media screen and (max-width:700px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 500px;
        width: 540px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div img{
        height: 290px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div h2{
        margin: 0%;
        padding: 10px;
        font-size: 20px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div p{
        padding: 5px;
    }
}

@media screen and (max-width:600px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 450px;
        width: 440px;
        margin: 15px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div img{
        height: 250px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div h2{
        padding: 5px;
        font-size: 16px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div p{
        font-size: 12px;
    }
}

@media screen and (max-width:470px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 450px;
        width: 360px;
        margin: 15px;
    }
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div h2{
        font-size: 14px;
    }
}

@media screen and (max-width:390px){
    main .seccion-novedades-2 .contenedor-pagina-novedades-2 div{
        height: 480px;
        width: 330px;
        margin: 10px;
        margin-bottom: 20px;
    }
}



/* ---------MEDIA QUERIES NOSOTROS-------- */


@media screen and (max-width:770px){
    .menu-nosotros .seccion-nosotros div div img{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:450px){
    .menu-nosotros .seccion-nosotros div div img{
        height: 300px;
    }
}